#!/usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_install:
	$(MAKE) install DESTDIR=$(CURDIR)/debian/hello-world PREFIX=/usr

override_dh_fixperms:
	dh_fixperms
	chmod 755 $(CURDIR)/debian/hello-world/usr/bin/hello-world
	chmod 755 $(CURDIR)/debian/hello-world/usr/bin/hello-info
	chmod 644 $(CURDIR)/debian/hello-world/usr/share/hello-world/hello-lib.sh
	chmod 644 $(CURDIR)/debian/hello-world/etc/hello-world/hello.conf
